Source: feelpp-mor
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: quilt, debhelper (>= 9),
           cmake (>=3.13.0),
           clang-8,
           dh-python,
           python3, python3-dev, python3-setuptools, python3-sympy,python3-mpi4py,
	       chrpath,
	       libboost1.67-all-dev, 
           libcln-dev,
           petsc-dev,
           slepc-dev,
           libhdf5-openmpi-dev,
           libnlopt-dev,
           libgsl-dev,
           libnetcdf-dev, libgl2ps-dev, libglu1-mesa-dev, libsm-dev, libxt-dev,
           libfftw3-mpi-dev,
	       libxml2-dev,
	       wget, libgmsh-dev, gmsh,
	       bison,flex,
	       doxygen, doxygen-latex,
	       transfig,imagemagick,
	       libtbb-dev[amd64 i386],
	       libann-dev, libglpk-dev,
           libbz2-dev,
           libbson-dev,
           libmongoc-dev,
           mongo-tools,
           libmongoclient-dev,           
           python-pymongo,
           ruby-progressbar,
           ruby-tilt,
           asciidoctor,ruby-asciidoctor-pdf,
           libglew-dev,
           libfeelpp-dev,
           libfeelpp-toolboxes1-all-dev
Standards-Version: 3.9.4
X-Python-Version: current
Homepage: http://www.feelpp.org
Vcs-Svn: svn://svn.debian.org/svn/debian-science/packages/feel++/trunk
Vcs-Browser: http://svn.debian.org/wsvn/debian-science/packages/feel++/trunk

# Package: libfeelpp-mor1
# Section: libs
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeelpp1 (= ${binary:Version})
# Description: Feel++ MOR libraries
#  Provides Feel++ model order reduction libraries

Package: feelpp-mor
Section: science
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, libfeelpp-mor1 (= ${binary:Version})
Description: Feel++ MOR applications
 Provides Feel++ model order reduction applications

Package: python3-feelpp-mor
Section: python
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, libfeelpp1 (= ${binary:Version})
Description: Feel++ MOR Python bindings
 Provides Feel++ model order reduction via Python bindings

