Source: feel++
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: quilt, debhelper (>= 9),
           cmake (>=3.2.0),
           gcc (>=6.3.0), g++ (>=6.3.0), gfortran (>=6.3.0),
           clang-4.0, 
	       chrpath,
	       libboost-all-dev, libboost-mpi-dev,
	       mpi-default-dev[!hurd-i386], mpi-default-bin[!hurd-i386],
           libcln-dev,
	       petsc-dev (>=3.7.6+dfsg1), petsc-dev (<=3.7.7+dfsg1),
           slepc-dev (>=3.7.4+dfsg1), slepc-dev (<=3.7.5+dfsg1),
	       libhdf5-1.8-mpi-dev,
           libopenturns-dev, python-openturns-dev,
           libnlopt-dev,
           paraview-dev, paraview-python, libnetcdf-dev, libgl2ps-dev, libglu1-mesa-dev, libsm-dev, libxt-dev,
           libfftw3-mpi-dev,
	       libxml2-dev,
	       libgmsh-tetgen-dev, gmsh-tetgen,
	       bison,flex,
	       doxygen, doxygen-latex,
	       transfig,imagemagick,
	       libtbb-dev[amd64 i386],
	       libann-dev, libglpk-dev
# for linking with paraview:
# libpng-dev, libtiff-dev, libjsoncpp-dev, libtheora-dev, libfreetype6-dev, libnetcdf-cxx-legacy-dev ?
Standards-Version: 3.9.4
Homepage: http://www.feelpp.org
Vcs-Svn: svn://svn.debian.org/svn/debian-science/packages/feel++/trunk
Vcs-Browser: http://svn.debian.org/wsvn/debian-science/packages/feel++/trunk


Package: libfeel++1
Section: libs
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, gmsh-tetgen, libpetsc3.7.6, libslepc3.7.4 
Replaces: liblife
Description: A library for the finite element method
 Provides the dynamic Feel++ libraries.
 .
 Feel++ is a versatile finite element library to solve partial
 differential equations.
 .
 Support 1D, 2D, 3D
 .
 Support the following basic entities: simplices (segment, triangle,
 tetrahedron) and product of simplices (quadrangle, hexahedron)
 .
 Support various point sets on these basic entities: equispaced
 points, quadrature points, interpolation points (Gauss-Lobatto,
 Fekete, WarpBlend?)
 .
 Support continuous and discontinuous Galerkin methods
 .
 Support various polynomial sets:
 .
  * Lagrange(continuous,discontinuous,all dimensions,all interpolation
 point sets)
 .
  * Dubiner(discontinuous), boundary adapted(continuous)
 .
  * Legendre(discontinuous), boundary adapted(continuous)
 .
 Provide mathematical concept for higher order abstraction (Function
 spaces and associated elements, forms and operators)
 .
 Provide a language embedded in C++ for variational formulations,
 projection and numerical integration


Package: libfeel++-dev
Section: libdevel
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, mpi-default-dev, libfeel++1 (= ${binary:Version}), paraview-dev,
	 libboost-all-dev, libboost-mpi-dev,
	 mpi-default-dev, mpi-default-bin, libgmsh-tetgen-dev,
	 libeigen3-dev, libcln-dev,
	 petsc-dev,
     slepc-dev,
	 libxml2-dev, libtbb-dev [amd64 i386],
     libopenturns-dev, libann-dev, libglpk-dev
Suggests: feel++-doc, libfeel++-dbg, doxygen, cmake, cmake-curses-gui
Replaces: liblife-dev
Description: A library for the finite element method
 Provides the header files and static libraries.
 .
 Feel++ is a versatile finite element library to solve partial
 differential equations.
 .
 Support 1D, 2D, 3D
 .
 Support the following basic entities: simplices (segment, triangle,
 tetrahedron) and product of simplices (quadrangle, hexahedron)
 .
 Support various point sets on these basic entities: equispaced
 points, quadrature points, interpolation points (Gauss-Lobatto,
 Fekete, WarpBlend?)
 .
 Support continuous and discontinuous Galerkin methods
 .
 Support various polynomial sets:
 .
  * Lagrange(continuous,discontinuous,all dimensions,all interpolation
 point sets)
 .
  * Dubiner(discontinuous), boundary adapted(continuous)
 .
  * Legendre(discontinuous), boundary adapted(continuous)
 .
 Provide mathematical concept for higher order abstraction (Function
 spaces and associated elements, forms and operators)
 .
 Provide a language embedded in C++ for variational formulations,
 projection and numerical integration

Package: libfeel++-dbg
Section: debug
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, mpi-default-dev, libfeel++-dev, libtbb2-dbg [amd64 i386]
Replaces: liblife-dbg
Description: A library for the finite element method
 Feel++ is a versatile finite element library to solve partial
 differential equations
 .
 Support 1D, 2D, 3D
 .
 Support the following basic entities: simplices (segment, triangle,
 tetrahedron) and product of simplices (quadrangle, hexahedron)
 .
 Support various point sets on these basic entities: equispaced
 points, quadrature points, interpolation points (Gauss-Lobatto,
 Fekete, WarpBlend?)
 .
 Support continuous and discontinuous Galerkin methods
 .
 Support various polynomial sets:
 .
  * Lagrange(continuous,discontinuous,all dimensions,all interpolation
 point sets)
 .
  * Dubiner(discontinuous), boundary adapted(continuous)
 .
  * Legendre(discontinuous), boundary adapted(continuous)
 .
 Provide mathematical concept for higher order abstraction (Function
 spaces and associated elements, forms and operators)
 .
 Provide a language embedded in C++ for variational formulations,
 projection and numerical integration

Package: feel++-apps
Section: science
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), libfeel++-dev (= ${binary:Version}), gmsh-tetgen
Replaces: life-apps
Description: A library for the finite element method
 Provides some applications codes(source and executables) such
 as laplacian with cG and dG methods, stokes, heat transfer, solid
 mechanics(static and dynamic).
 .
 Feel++ is a versatile finite element library to solve partial
 differential equations
 .
 Support 1D, 2D, 3D
 .
 Support the following basic entities: simplices (segment, triangle,
 tetrahedron) and product of simplices (quadrangle, hexahedron)
 .
 Support various point sets on these basic entities: equispaced
 points, quadrature points, interpolation points (Gauss-Lobatto,
 Fekete, WarpBlend?)
 .
 Support continuous and discontinuous Galerkin methods
 .
 Support various polynomial sets:
 .
  * Lagrange(continuous,discontinuous,all dimensions,all interpolation
 point sets)
 .
  * Dubiner(discontinuous), boundary adapted(continuous)
 .
  * Legendre(discontinuous), boundary adapted(continuous)
 .
 Provide mathematical concept for higher order abstraction (Function
 spaces and associated elements, forms and operators)
 .
 Provide a language embedded in C++ for variational formulations,
 projection and numerical integration

# # Available: feel++ models: fluid, solid, fsi, thermodynamics

# Package: feel++-toolbox
# Section: science
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), libfeel++1 (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: Base feel++ toolbox tools
#  Provides feel++ toolbox base tools

# Package: feel++-toolbox-dev
# Section: libdevel
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), libfeel++-dev (= ${binary:Version}), feel++-toolbox (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: Base feel++ toolbox tools
#  Provides feel++ toolbox base tools

# Package: feel++-toolbox-fluid
# Section: science
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), feel++-toolbox-dev (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: A feel++ toolbox for CFD
#  Provides feel++ toolbox for fluid

# Package: feel++-toolbox-solid
# Section: science
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), feel++-toolbox-dev (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: A feel++ toolbox for Solid Mechanics
#  Provides feel++ toolbox for Computational Solid Mechanics

# Package: feel++-toolbox-fsi
# Section: science
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), feel++-toolbox-dev (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: A feel++ toolbox for FSI 
#  Provides feel++ toolbox for Fluid/Structure Interaction

# Package: feel++-toolbox-thermodyn
# Section: science
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), feel++-toolbox-dev (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: A feel++ toolbox for ThermoDynamics
#  Provides feel++ toolbox for ThermoDynamics

# Package: feel++-toolbox-thermoelectric
# Section: science
# Architecture: amd64 i386 ia64 powerpc sparc
# Depends: ${shlibs:Depends}, ${misc:Depends}, libfeel++1 (= ${binary:Version}), feel++-toolbox-dev (= ${binary:Version}), gmsh-tetgen
# Replaces: life-apps
# Description: A feel++ toolbox for ThermoElectric
#  Provides feel++ toolbox for ThermoElectric

# # Package: feel++-doc
# # Section: doc
# # Architecture: all
# # Depends: ${misc:Depends}
# # Replaces: life-doc
# # Description: A library for the finite element method
# #  Provides the documentation for the Feel++ library : a user
# #  guide including a tutorial and the api documentation generated by
# #  doxygen.
# #  .
# #  Feel++ is a versatile finite element library to solve partial
# #  differential equations.
# #  .
# #  Support 1D, 2D, 3D
# #  .
# #  Support the following basic entities: simplices (segment, triangle,
# #  tetrahedron) and product of simplices (quadrangle, hexahedron)
# #  .
# #  Support various point sets on these basic entities: equispaced
# #  points, quadrature points, interpolation points (Gauss-Lobatto,
# #  Fekete, WarpBlend?)
# #  .
# #  Support continuous and discontinuous Galerkin methods
# #  .
# #  Support various polynomial sets:
# #  .
# #   * Lagrange(continuous,discontinuous,all dimensions,all interpolation
# #  point sets)
# #  .
# #   * Dubiner(discontinuous), boundary adapted(continuous)
# #  .
# #   * Legendre(discontinuous), boundary adapted(continuous)
# #  .
# #  Provide mathematical concept for higher order abstraction (Function
# #  spaces and associated elements, forms and operators)
# #  .
# #  Provide a language embedded in C++ for variational formulations,
# #  projection and numerical integration
