#!/usr/bin/make -f

DEB_AUTO_CLEANUP_RCS   := yes
DEB_COMPRESS_EXCLUDE   := .pdf

DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_BUILD_ARCH_OS := $(shell dpkg-architecture -qDEB_BUILD_ARCH_OS)
DEB_BUILD_GNU_SYSTEM ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_SYSTEM)
DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

#  # -Wno-undefined-var-template to reduce number of warnings from ginac
#  # -Wno-inconsistent-missing-override to reduce number of warning due to Paraview and C++11
# eventually add -O3 -march=native -mtune=native
# # eventually add -pedantic
# export DEB_CFLAGS_MAINT_APPEND  = -Wall 
# export DEB_CXXFLAGS_MAINT_APPEND  = -Wall -Wno-inconsistent-missing-override -Wno-undefined-var-template
export DEB_CXXFLAGS_MAINT_APPEND  = -Wno-inconsistent-missing-override -Wno-undefined-var-template
# export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#

PY3VER = $(shell py3versions -d)
PYALL = $(PY3VER)

%:
	dh $@ --buildsystem=cmake --parallel --include-removal --with python3 

override_dh_auto_configure: $(PYALL:python%=cmake-configure-%) \


NUMJOBS:=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS))) 

cmake-configure-%:
	/usr/local/bin/cmake --preset feelpp \
		-DCMAKE_INSTALL_PREFIX=/usr/ \
		-DCMAKE_C_COMPILER=/usr/bin/clang \
		-DCMAKE_CXX_COMPILER=/usr/bin/clang++ \
		-DCMAKE_C_FLAGS:STRING="-DNDEBUG -O2 -Wdate-time -D_FORTIFY_SOURCE=2 " \
		-DCMAKE_C_FLAGS_DEBUG:STRING="" \
		-DCMAKE_C_FLAGS_RELEASE:STRING="-DNDEBUG -O3" \
		-DCMAKE_CXX_FLAGS:STRING="-DNDEBUG -O2 -Wdate-time -D_FORTIFY_SOURCE=2 " \
		-DCMAKE_CXX_FLAGS_DEBUG:STRING="" \
		-DCMAKE_CXX_FLAGS_RELEASE:STRING="-DNDEBUG -O3" \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_BUILD_TYPE=Release \
		-DFEELPP_PYTHON_VERSION=3 \
		-DFEELPP_ENABLE_PYTHON=ON \
		-DFEELPP_ENABLE_VTK=OFF \
		-DFEELPP_ENABLE_SIMPLE_WEB_SERVER=ON \
		-DFEELPP_ENABLE_MATPLOT=ON\
		-DFEELPP_ENABLE_QUICKSTART=ON \
		-DFEELPP_ENABLE_TOOLBOXES=OFF \
		-DFEELPP_ENABLE_FEELPP_PYTHON=OFF \
		-DFEELPP_ENABLE_TESTS=OFF \
		-DFEELPP_ENABLE_PYFEELPP_LIBFEELPP=OFF \
		-DLIBBSON_DIR=/usr \
		-DLIBMONGOC_DIR=/usr \
		-DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python$* \
		-DPYTHON_INCLUDE_DIR:PATH=$$(python$*-config --includes | sed -e 's/ .*//' -e 's/^-I//') \
		-DPYTHON_INCLUDE_DIR2:PATH=$$(python$*-config --includes | sed -e 's/ .*//' -e 's/^-I//') \
		-DPYTHON_LIBRARY:PATH=$$(python$*-config --ldflags | sed -e 's/ .*//' -e 's/^-L//')/libpython$*.so \
		-DCMAKE_EXE_LINKER_FLAGS:STRING="-Wl,--no-as-needed -lm -lrt"


override_dh_auto_build: $(PYALL:python%=cmake-build-%)

cmake-build-%:
	DESTDIR=DESTDIR=$(shell pwd)/debian/tmp /debian/tmp /usr/local/bin/cmake --build --preset feelpp -j40 all
	ls $(shell pwd)/debian/tmp

override_dh_auto_install: $(PYALL:python%=cmake-install-%)

cmake-install-%:
	DESTDIR=DESTDIR=$(shell pwd)/debian/tmp /debian/tmp /usr/local/bin/cmake --build --preset feelpp -j40 install
	ls $(shell pwd)/debian/tmp

override_dh_auto_test:
	echo "no testsuite"

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l$(shell pwd)/lib/$(shell uname -m)

override_dh_makeshlibs:
	dh_makeshlibs -Xpyshared

override_dh_strip:
	dh_strip -plibfeelpp1 
# -ppython3-feelpp

#override_dh_python3:
#	dh_python3 -p python3-feelpp

get-orig-source:
	uscan --force-download
