Source: feelpp
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: ${shlibs:Depends}, ${misc:Depends}, mpi-default-dev, libfeelpp-dev (= ${binary:Version})
Standards-Version: 3.9.4
X-Python-Version: current
Homepage: http://www.feelpp.org
Vcs-Svn: svn://svn.debian.org/svn/debian-science/packages/feel++/trunk
Vcs-Browser: http://svn.debian.org/wsvn/debian-science/packages/feel++/trunk


Package: libfeelpp-toolboxes1
Section: libs
Architecture: amd64 i386 ia64 powerpc sparc
Depends: libfeelpp1 (= ${binary:Version})
Description: Feel++ toolboxes libraries
 Provides Feel++ toolboxes libraries


Package: libfeelpp-toolboxes-dev
Section: libdevel
Architecture: amd64 i386 ia64 powerpc sparc
Depends: libfeelpp-toolboxes1 (= ${binary:Version}), libfeelpp-dev (= ${binary:Version}),
Description: Development files for Feel++ toolboxes
 Provides the header files and static libraries.

Package: feelpp-toolboxes
Section: science
Architecture: amd64 i386 ia64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, libfeelpp-toolboxes1 (= ${binary:Version})
Description: Feel++ toolboxes
 Provides Feel++ toolboxes

