#!/usr/bin/make -f

DEB_AUTO_CLEANUP_RCS   := yes
DEB_COMPRESS_EXCLUDE   := .pdf

DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_BUILD_ARCH_OS := $(shell dpkg-architecture -qDEB_BUILD_ARCH_OS)
DEB_BUILD_GNU_SYSTEM ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_SYSTEM)
DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

#  # -Wno-undefined-var-template to reduce number of warnings from ginac
#  # -Wno-inconsistent-missing-override to reduce number of warning due to Paraview and C++11
# eventually add -O3 -march=native -mtune=native
# # eventually add -pedantic
# export DEB_CFLAGS_MAINT_APPEND  = -Wall 
# export DEB_CXXFLAGS_MAINT_APPEND  = -Wall -Wno-inconsistent-missing-override -Wno-undefined-var-template
export DEB_CXXFLAGS_MAINT_APPEND  = -Wno-inconsistent-missing-override -Wno-undefined-var-template
# export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#

%:
	dh $@ --buildsystem=cmake --parallel # --with python2

export OMPI_MCA_orte_rsh_agent=/bin/false  #workaround to start MPI-applications in chroot

disable_mpi_archs = armel armhf kfreebsd-amd64 kfreebsd-i386 mips mipsel
export LD_LIBRARY_PATH :=  $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH):$(LD_LIBRARY_PATH); 

#ifneq ($(wildcard /usr/lib/$(DEB_HOST_MULTIARCH)/hdf5/$(ARCH_DEFAULT_MPI_IMPL)/libhdf5.so),)
#  HDF5_CPPFLAGS := -I/usr/include/hdf5/$(ARCH_DEFAULT_MPI_IMPL) -DOMPI_SKIP_MPICXX=1 -DMPICH_SKIP_MPICXX=1
#  HDF5_LDFLAGS := -Wl,-L/usr/lib/$(DEB_HOST_MULTIARCH)/hdf5/$(ARCH_DEFAULT_MPI_IMPL)
#endif

export PETSC_DIR=/usr/lib/petscdir/3.7.5/$(DEB_HOST_MULTIARCH)-real
export SLEPC_DIR=/usr/lib/slepcdir/3.7.3/$(DEB_HOST_MULTIARCH)-real

export FEELPP_DIR=$(CURDIR)/feelpp
export FEELPP_WORKDIR=$(CURDIR)/feelpp
export PARAVIEW_DIR=/usr/lib/cmake/paraview

export QT_SELECT=qt4

# -DFEELPP_ENABLE_HPDDM=OFF \

extra_flags += \
 -DCMAKE_VERBOSE_MAKEFILE=ON \
 -DCMAKE_BUILD_TYPE=Release \
 -DHDF5_INCLUDE_DIRS=/usr/include/hdf5/$(ARCH_DEFAULT_MPI_IMPL) \
 -DHDF5_LIBRARY_DIRS=/usr/lib/$(DEB_HOST_MULTIARCH)/hdf5/$(ARCH_DEFAULT_MPI_IMPL) \
 -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python \
 -DPYTHON_INCLUDE_DIR:PATH=/usr/include/python2.7 \
 -DPYTHON_LIBRARY:PATH=/usr/lib/python2.7/config-$(DEB_HOST_MULTIARCH)/libpython2.7.so \
 -DFEELPP_ENABLE_MED=ON \
 -DFEELPP_ENABLE_PARALUTION=OFF \
 -DFEELPP_ENABLE_TOOLBOXES=OFF \
 -DFEELPP_ENABLE_IPOPT=OFF \
 -DFEELPP_ENABLE_TESTS=OFF \
 -DFEELPP_PYTHON_VERSION=2 \
 -DFEELPP_ENABLE_PYTHON=ON \
 -DFEELPP_ENABLE_PYTHON_WRAPPING=ON \
 -DFEELPP_ENABLE_PYFEELPP=OFF \
 -DCMAKE_EXE_LINKER_FLAGS:STRING="-Wl,--no-as-needed -lm -lrt"

ifeq (,$(filter $(DEB_HOST_ARCH),sparc))
ifeq (,$(filter $(DEB_HOST_ARCH),powerpc))	
extra_flags+=\
		-DCMAKE_CXX_COMPILER=/usr/bin/clang++-3.9
else
extra_flags+=\
		-DCMAKE_CXX_COMPILER=/usr/bin/clang++-3.9
endif
else
extra_flags+=\
		-DCMAKE_CXX_COMPILER=/usr/bin/g++-6
endif

override_dh_auto_clean:
	if [ -d toolboxes.orig ]; then mv toolboxes.orig toolboxes; fi

override_dh_auto_configure:
	mv toolboxes toolboxes.orig
	dh_auto_configure -- $(extra_flags)

override_dh_auto_install:
	dh_auto_install
	dh_auto_install -- -C applications/mesh # to force build mesh apps
	dh_install --list-missing
    # Quick and dirty hack to fix nlop lib
	dh_link -p libfeel++1 usr/lib/$(DEB_HOST_MULTIARCH)/libfeelpp_nlopt.so.0.9.0 usr/lib/libfeelpp_nlopt.so.0.9.0
	dh_link -p libfeel++-dev  usr/lib/$(DEB_HOST_MULTIARCH)/libfeelpp_nlopt.so usr/lib/libfeelpp_nlopt.so

override_dh_auto_build:
	# echo "skip build"
	dh_auto_build -- feelpp # to only build base libs
	# dh_auto_build -- -k testsuite #  testsuite removed from arch since 0.103.0
	dh_auto_build -- -C applications/mesh # to force build mesh apps
	# rm titi

# tstsuite has been removed from arch since 0.103.1
override_dh_auto_test:
	echo "Do not Running tests"
	#echo "Running tests"
	#MPIEXEC="mpiexec --allow-run-as-root --oversubscribe -np " dh_auto_test 

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

get-orig-source:
	uscan --force-download
